<div class="graph"></div>
<div class="about">
	<div class="title">C*Splat</div>
		<div class="shortdesc">a place for companies and candidates to share information</div>
		<div class="description">
		<strong class="letter">E</strong>xplore companies and see what they do
		</div>
		<div class="description">
		<strong class="letter">V</strong>iew jobs offered by companies
		</div>
		<div class ="description">
		<strong class="letter">A</strong>dd and edit jobs under companies
		</div>
		<div class="description">
		<strong class="letter">L</strong>ook for a position that suits your skills
		</div>
	</div>
</div>
<div class="visualize" id="visualize">
	<div class="bargraphclick"><strong>Visualize Data</strong></div>
	<div class="bargraph"> </div>
</div>
<div class="contact" id="contact">
	<div class="questions">Questions? Comments? Email me</div>
</div>
