<div class="graph"></div>
<div></div>
<div class="about" >
	<div class="title">C*Splat</div>
		<div class="shortdesc">a place for companies and candidates to share information</div>
		<div class="description">Explore companies and see what they do
		</div>
		<div class="description">
		 View jobs offered by companies
		</div>
		<div class ="description">
		 Add and edit jobs under companies
		</div>
		<div class="description">
		 Search for a position that suits your skills
		</div>
	</div>
</div>
<div class="visualize" id="visualize">

</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<br><br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

