<h1>Here is a list of all companies</h1>
<ul>
<% @companies.each do |b| %>
	<li>
		<strong><%= link_to "#{b.name}", company_path(b) %></strong>
	</li>
	<li>
		<%= b.about %> </br>
		Location: <%= b.address %>
	</li>
	<% end %>
</ul>