// Place all the styles related to the users controller here.
// They will automtically be included in application.css.
// You can use Sass (SCSS) here: http:sass-lang.com/
div {
	text-align: center;
}
.graph {
	position: fixed;
	left: 0;
	z-index: 99;
	margin-top: 10%;
}
.title {
	font-size: 50px;
	font-family: 'Merriweather', serif;
	color: white;
}
.about {
	background: black;
	padding-bottom: 20%;
	padding-top: 10px;
}
.shortdesc {
	color: white;
}
.description {
	background: red;
	color: black;
	margin: 10px;
	padding: 18px;
	border-radius: 5px;
	font-size: 20px;
	width: 50%;
	left: 24%;
	text-align: left;
	position: relative;
}
.letter {
	font-size: 22px;
}
#visualize {
	transition: top 10s;
}
.visualize {
	background: image-url('business2.jpg');
	height: 500px;
	width: 100%;
	background-size: 100%;
}
.bargraphclick {
	position: relative;
	font-size: 30px;
	top: 15%;
	left: 35%;
	height: 20px;
	width: 300px;
	background: red;
}
.contact {
	background: image-url('business-opportunity.jpg');
	height: 500px;
	width: 100%;
	background-size: 100%;
	z-index: 100;
}

.listscroll {
	overflow-y: scroll;
	height: 100px;
}